* {
    padding: 0 ;
    margin: 0 ;
    font-family: 'Noto Sans KR', sans-serif;
}

nav {
    background-color: #09090a ;
    display: flex ;
    font-size: 20px ;
    justify-content: space-between ;
    padding: 10px ;
    color: #FFFFFF ;
    text-transform: uppercase ;
}

.container {
    width: 700px ;
    margin: 30px auto ;
}

.penjelasan {
    width: 680px ;
    margin: 10px auto ;
    text-align: center ;
}

.penjelasan h1 {
    margin: 10px auto ;
}

.kotak-input {
    display: flex ;
    flex-direction: column ;
    margin: 10px ;
    border: 1px dotted black ;
    padding: 20px ;
}

.kotak-input p {
    margin: 10px 0 ;
}

.kotak-input input {
    width: 30%;
    height: 25px ;
    text-align: center ;
    font-size: 18px ;
    border: 1px solid #000;
}

.kotak-input button {
    color: #FFFFFF ;
    background-color: red ;
    width: calc(25% - 4px);
    height: 40px ;
    margin-top: 10px ;
    border: none ;
    cursor: pointer;
    transition: 0.3s ;
    font-size: 16px;
}

.type-selected {
  background: rgb(86, 108, 115) !important;
}

#btnAddName {
  width: 30%;
}

.kotak-input button:hover {
  background-color: rgb(86, 108, 115) ;
  color: #fff;
}


#p {
  margin: 10px 0 0;
}

.pilih-template {
    margin: 10px 0 ;
}
.pilih-template button {
    background-color: lightblue ;
    color: black ;
}

.hasil {
    display: flex ;
    text-align: center ;
    margin: 20px auto ;
}

.hasil p {
    text-align: center ;
    margin: auto ;
}

#hasil {
    margin : 20px auto ;
    width: 680px ;
    height: 200px ;
    border: 1px solid black ;
    overflow-x : hidden ;
    text-align: justify ;
    padding: 10px ;
}

#copy {
    color: #FFFFFF ;
    background-color: red ;
    width: 150px ;
    height: 40px ;
    margin-top: 10px ;
    border: none ;
    cursor: pointer;
    transition: 0.3s ;
}

footer {
    display: flex ;
    font-size: 14px ;
    text-align : center ;
    background-color: #09090a ;
    color: #FFFFFF ;
}

footer p {
    text-align: center ;
    padding: 10px ;
    margin: 0 auto ;
}


@media only screen and (max-width : 600px ){
  #p {
    margin: 10px 10px 0;
  }
    nav {
        font-size: 14px ;
        justify-content: space-between ;
        padding: 10px ;
        text-transform: uppercase ;
    }

    nav h1 {
        margin: auto ;
    }

    .container {
        width : 340px ;
        margin: auto ;
    }

    .penjelasan {
        margin: auto ;
        width: 330px ;
    }

    .kotak-input {
        width: 320px ;
        padding: 0 ;
        margin: 20px auto ;
    }

    .kotak-input p {
        margin : 10px auto ;
    }

    .kotak-input input {
        width: calc(100% - 20px);
        padding: 0 ;
        margin: 0 auto 10px;
    }

    .kotak-input button {
        width: calc(100% - 20px);
        margin: 5px 10px;
    }

    .pilih-template p {
        margin-left: 10px ;
    }

    #hasil {
        margin: 20px auto ;
        width: 300px ;
        padding: 10px ;
        overflow-x: hidden ;
        font-size: 12px ;
    }
}
